<html lang="en" class=""><head><script src="//static.codepen.io/assets/editor/live/console_runner-ce3034e6bde3912cc25f83cccb7caa2b0f976196f2f2d52303a462c826d54a73.js"></script><script src="//static.codepen.io/assets/editor/live/css_live_reload_init-890dc39bb89183d4642d58b1ae5376a0193342f9aed88ea04330dc14c8d52f55.js"></script><meta charset="UTF-8"><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//static.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico"><link rel="mask-icon" type="" href="//static.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111"><link rel="canonical" href="https://codepen.io/drehimself/pen/KdXwxR">

    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"><link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="../style.css" rel="stylesheet">
</head><body>
<div style="
    background-color: #444753;
    padding: 10px;
    position: absolute;
    width: 100%;
    top: 0px;
"><h2 style="
    font-size: 18px;
    /* width: 20px; */
    float: left;
    padding-right: 6px;
">История</h2></div>
<div class="container clearfix">
    <div class="people-list" id="people-list" style="
    /* border-radius: 0px; */
    /* padding-top: 8px; */
">
        <div class="search" style="
    border-bottom: 2px solid #86BB71;
    padding: 33.3px;
">
            <h2 style="
    font-size: 18px;
    /* width: 20px; */
    float: left;
    padding-right: 6px;
">История</h2>
            <button class="btn" style="
    background: #86BB71;
    border: 1px solid #86BB71;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
">Меню</button>

        </div>
        <ul class="list"><li class="clearfix">
            <img src="https://img.clipartxtras.com/023a2f93bb99d4debc8e7ea722102ff8_tumblr-girl-icon-drawing-clipartxtras-tumblr-girl-icon-drawing_499-491.jpeg" alt="avatar" style="
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-image: 1px solid red;
    /* background-origin: initial; */
">
            <div class="about">
                <div class="name">Незнакомка</div>
                <div class="status">
                    <i class="fa fa-circle online"></i>В сети</div>
            </div>
        </li><li class="clearfix">
            <img src="https://img.clipartxtras.com/023a2f93bb99d4debc8e7ea722102ff8_tumblr-girl-icon-drawing-clipartxtras-tumblr-girl-icon-drawing_499-491.jpeg" alt="avatar" style="
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-image: 1px solid red;
    /* background-origin: initial; */
">
            <div class="about">
                <div class="name">Незнакомка</div>
                <div class="status">
                    <i class="fa fa-circle offline"></i>Была в сети 10 мин</div>
            </div>
        </li><li class="clearfix">
            <img src="https://img.clipartxtras.com/023a2f93bb99d4debc8e7ea722102ff8_tumblr-girl-icon-drawing-clipartxtras-tumblr-girl-icon-drawing_499-491.jpeg" alt="avatar" style="
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-image: 1px solid red;
    /* background-origin: initial; */
">
            <div class="about">
                <div class="name">Незнакомка</div>
                <div class="status">
                    <i class="fa fa-circle online"></i>В сети</div>
            </div>
        </li><li class="clearfix">
            <img src="https://img.clipartxtras.com/023a2f93bb99d4debc8e7ea722102ff8_tumblr-girl-icon-drawing-clipartxtras-tumblr-girl-icon-drawing_499-491.jpeg" alt="avatar" style="
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-image: 1px solid red;
    /* background-origin: initial; */
">
            <div class="about">
                <div class="name">Незнакомка</div>
                <div class="status">
                    <i class="fa fa-circle online"></i>В сети</div>
            </div>
        </li><li class="clearfix">
            <img src="https://img.clipartxtras.com/023a2f93bb99d4debc8e7ea722102ff8_tumblr-girl-icon-drawing-clipartxtras-tumblr-girl-icon-drawing_499-491.jpeg" alt="avatar" style="
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-image: 1px solid red;
    /* background-origin: initial; */
">
            <div class="about">
                <div class="name">Незнакомка</div>
                <div class="status">
                    <i class="fa fa-circle online"></i> online
                </div>
            </div>
        </li><li class="clearfix">
            <img src="https://img.clipartxtras.com/023a2f93bb99d4debc8e7ea722102ff8_tumblr-girl-icon-drawing-clipartxtras-tumblr-girl-icon-drawing_499-491.jpeg" alt="avatar" style="
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-image: 1px solid red;
    /* background-origin: initial; */
">
            <div class="about">
                <div class="name">Незнакомка</div>
                <div class="status">
                    <i class="fa fa-circle offline"></i>Была в сети 30 мин</div>
            </div>
        </li><li class="clearfix">
            <img src="https://img.clipartxtras.com/023a2f93bb99d4debc8e7ea722102ff8_tumblr-girl-icon-drawing-clipartxtras-tumblr-girl-icon-drawing_499-491.jpeg" alt="avatar" style="
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-image: 1px solid red;
    /* background-origin: initial; */
">
            <div class="about">
                <div class="name">Незнакомка</div>
                <div class="status">
                    <i class="fa fa-circle offline"></i>Была в сети 10 мин</div>
            </div>
        </li><li class="clearfix">
            <img src="https://img.clipartxtras.com/023a2f93bb99d4debc8e7ea722102ff8_tumblr-girl-icon-drawing-clipartxtras-tumblr-girl-icon-drawing_499-491.jpeg" alt="avatar" style="
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-image: 1px solid red;
    /* background-origin: initial; */
">
            <div class="about">
                <div class="name">Незнакомка</div>
                <div class="status">
                    <i class="fa fa-circle online"></i>В сети</div>
            </div>
        </li><li class="clearfix">
            <img src="https://img.clipartxtras.com/023a2f93bb99d4debc8e7ea722102ff8_tumblr-girl-icon-drawing-clipartxtras-tumblr-girl-icon-drawing_499-491.jpeg" alt="avatar" style="
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-image: 1px solid red;
    /* background-origin: initial; */
">
            <div class="about">
                <div class="name">Незнакомка</div>
                <div class="status">
                    <i class="fa fa-circle offline"></i> Была в сети </div>
            </div>
        </li><li class="clearfix">
            <img src="https://img.clipartxtras.com/023a2f93bb99d4debc8e7ea722102ff8_tumblr-girl-icon-drawing-clipartxtras-tumblr-girl-icon-drawing_499-491.jpeg" alt="avatar" style="
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-image: 1px solid red;
    /* background-origin: initial; */
">
            <div class="about">
                <div class="name">Незнакомка</div>
                <div class="status">
                    <i class="fa fa-circle online"></i>В сети</div>
            </div>
        </li></ul>
    </div>

    <div class="chat">
        <div class="chat-header clearfix">
            <img src="https://img.clipartxtras.com/023a2f93bb99d4debc8e7ea722102ff8_tumblr-girl-icon-drawing-clipartxtras-tumblr-girl-icon-drawing_499-491.jpeg" alt="avatar" style="
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-image: 1px solid red;
    /* background-origin: initial; */
">

            <div class="chat-about">
                <div class="chat-with">Чат с Незнакомкой</div>
                <div class="chat-num-messages">уже 100 сообщений :)</div>
            </div>
            <i class="fa fa-star"></i>
        </div> <!-- end chat-header -->

        <div class="chat-history">
            <ul>
                <li class="clearfix">
                    <div class="message-data align-right">
                        <span class="message-data-time">10:10, Сегодня</span> &nbsp; &nbsp;
                        <span class="message-data-name">Я</span> <i class="fa fa-circle me"></i>

                    </div>
                    <div class="message other-message float-right">Привет</div>
                </li>

                <li>
                    <div class="message-data">
                        <span class="message-data-name"><i class="fa fa-circle online"></i>Собеседник</span>
                        <span class="message-data-time">10:12, Сегодня</span>
                    </div>
                    <div class="message my-message">Привет</div>
                </li>

                <li class="clearfix">
                    <div class="message-data align-right">
                        <span class="message-data-time">10:14, Сегодня</span> &nbsp; &nbsp;
                        <span class="message-data-name">Я</span> <i class="fa fa-circle me"></i>

                    </div>
                    <div class="message other-message float-right">Как дела?)</div>
                </li>

                <li>
                    <div class="message-data">
                        <span class="message-data-name"><i class="fa fa-circle online"></i>Собеседник</span>
                        <span class="message-data-time">10:20, Сегодня</span>
                    </div>
                    <div class="message my-message">Как дела?)</div>
                </li>

                <li><span class="message-data-name">Собеседник &nbsp;</span>

                    <i class="fa fa-circle online"></i>
                    <i class="fa fa-circle online" style="color: #AED2A6"></i>
                    <i class="fa fa-circle online" style="color:#DAE9DA"></i>
                </li>

            </ul>

        </div> <!-- end chat-history -->

        <div class="chat-message clearfix">
            <textarea name="message-to-send" id="message-to-send" placeholder="Введите ваше сообщение" rows="3"></textarea>

            <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
            <i class="fa fa-file-image-o"></i>

            <button>Отправить</button>

        </div> <!-- end chat-message -->

    </div> <!-- end chat -->

</div> <!-- end container -->

</body></html>