.message{
    width: 90%;
    float:left;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.message_out{
    float: right;
}

.message:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.titleContainer {
    margin-bottom: 5px;
}

.date {
    color: #a8aab1;
    padding-left: 6px;
}

.author {
    padding-left: 5px;
}

.icon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.textContainer {
    color: white;
    padding: 5px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 3px;
    width: 90%;
    position: relative;
}

.textContainer_in {
    background: #86BB71;
}

.icon_in {
    margin-right: 3px;
    font-size: 10px;
    color: #94C2ED;
}

.textContainer_out {
    background: #94C2ED;
}

.icon_out {
    color: #86BB71;
}

.titleContainer_out {
    padding-right: 33px;
    text-align: right;
}




