<html lang="en" class=""><head><script src="//static.codepen.io/assets/editor/live/console_runner-ce3034e6bde3912cc25f83cccb7caa2b0f976196f2f2d52303a462c826d54a73.js"></script><script src="//static.codepen.io/assets/editor/live/css_live_reload_init-890dc39bb89183d4642d58b1ae5376a0193342f9aed88ea04330dc14c8d52f55.js"></script><meta charset="UTF-8"><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//static.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico"><link rel="mask-icon" type="" href="//static.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111"><link rel="canonical" href="https://codepen.io/drehimself/pen/KdXwxR">

    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"><link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="../style.css" rel="stylesheet">
</head><body>
<div style="
    background-color: #444753;
    padding: 10px;
    position: absolute;
    width: 100%;
    top: 0px;
"><h2 style="
    font-size: 18px;
    /* width: 20px; */
    float: left;
    padding-right: 6px;
">История</h2></div>
<div class="container clearfix">
    <div class="people-list" id="people-list" style="
    /* border-radius: 0px; */
    /* padding-top: 8px; */
">
        <div class="search" style="
    border-bottom: 2px solid #86BB71;
    padding: 33.3px;
">
            <h2 style="
    font-size: 18px;
    /* width: 20px; */
    float: left;
    padding-right: 6px;
">История</h2>
            <button class="btn" style="
    background: #86BB71;
    border: 1px solid #86BB71;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
">Меню</button>

        </div>
        <ul class="list"><li class="clearfix">
            <img src="https://img.clipartxtras.com/023a2f93bb99d4debc8e7ea722102ff8_tumblr-girl-icon-drawing-clipartxtras-tumblr-girl-icon-drawing_499-491.jpeg" alt="avatar" style="
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-image: 1px solid red;
    /* background-origin: initial; */
">
            <div class="about">
                <div class="name">Незнакомка</div>
                <div class="status">
                    <i class="fa fa-circle online"></i>В сети</div>
            </div>
        </li><li class="clearfix">
            <img src="https://img.clipartxtras.com/023a2f93bb99d4debc8e7ea722102ff8_tumblr-girl-icon-drawing-clipartxtras-tumblr-girl-icon-drawing_499-491.jpeg" alt="avatar" style="
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-image: 1px solid red;
    /* background-origin: initial; */
">
            <div class="about">
                <div class="name">Незнакомка</div>
                <div class="status">
                    <i class="fa fa-circle offline"></i>Была в сети 10 мин</div>
            </div>
        </li><li class="clearfix">
            <img src="https://img.clipartxtras.com/023a2f93bb99d4debc8e7ea722102ff8_tumblr-girl-icon-drawing-clipartxtras-tumblr-girl-icon-drawing_499-491.jpeg" alt="avatar" style="
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-image: 1px solid red;
    /* background-origin: initial; */
">
            <div class="about">
                <div class="name">Незнакомка</div>
                <div class="status">
                    <i class="fa fa-circle online"></i>В сети</div>
            </div>
        </li><li class="clearfix">
            <img src="https://img.clipartxtras.com/023a2f93bb99d4debc8e7ea722102ff8_tumblr-girl-icon-drawing-clipartxtras-tumblr-girl-icon-drawing_499-491.jpeg" alt="avatar" style="
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-image: 1px solid red;
    /* background-origin: initial; */
">
            <div class="about">
                <div class="name">Незнакомка</div>
                <div class="status">
                    <i class="fa fa-circle online"></i>В сети</div>
            </div>
        </li><li class="clearfix">
            <img src="https://img.clipartxtras.com/023a2f93bb99d4debc8e7ea722102ff8_tumblr-girl-icon-drawing-clipartxtras-tumblr-girl-icon-drawing_499-491.jpeg" alt="avatar" style="
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-image: 1px solid red;
    /* background-origin: initial; */
">
            <div class="about">
                <div class="name">Незнакомка</div>
                <div class="status">
                    <i class="fa fa-circle online"></i> online
                </div>
            </div>
        </li><li class="clearfix">
            <img src="https://img.clipartxtras.com/023a2f93bb99d4debc8e7ea722102ff8_tumblr-girl-icon-drawing-clipartxtras-tumblr-girl-icon-drawing_499-491.jpeg" alt="avatar" style="
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-image: 1px solid red;
    /* background-origin: initial; */
">
            <div class="about">
                <div class="name">Незнакомка</div>
                <div class="status">
                    <i class="fa fa-circle offline"></i>Была в сети 30 мин</div>
            </div>
        </li><li class="clearfix">
            <img src="https://img.clipartxtras.com/023a2f93bb99d4debc8e7ea722102ff8_tumblr-girl-icon-drawing-clipartxtras-tumblr-girl-icon-drawing_499-491.jpeg" alt="avatar" style="
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-image: 1px solid red;
    /* background-origin: initial; */
">
            <div class="about">
                <div class="name">Незнакомка</div>
                <div class="status">
                    <i class="fa fa-circle offline"></i>Была в сети 10 мин</div>
            </div>
        </li><li class="clearfix">
            <img src="https://img.clipartxtras.com/023a2f93bb99d4debc8e7ea722102ff8_tumblr-girl-icon-drawing-clipartxtras-tumblr-girl-icon-drawing_499-491.jpeg" alt="avatar" style="
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-image: 1px solid red;
    /* background-origin: initial; */
">
            <div class="about">
                <div class="name">Незнакомка</div>
                <div class="status">
                    <i class="fa fa-circle online"></i>В сети</div>
            </div>
        </li><li class="clearfix">
            <img src="https://img.clipartxtras.com/023a2f93bb99d4debc8e7ea722102ff8_tumblr-girl-icon-drawing-clipartxtras-tumblr-girl-icon-drawing_499-491.jpeg" alt="avatar" style="
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-image: 1px solid red;
    /* background-origin: initial; */
">
            <div class="about">
                <div class="name">Незнакомка</div>
                <div class="status">
                    <i class="fa fa-circle offline"></i> Была в сети </div>
            </div>
        </li><li class="clearfix">
            <img src="https://img.clipartxtras.com/023a2f93bb99d4debc8e7ea722102ff8_tumblr-girl-icon-drawing-clipartxtras-tumblr-girl-icon-drawing_499-491.jpeg" alt="avatar" style="
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-image: 1px solid red;
    /* background-origin: initial; */
">
            <div class="about">
                <div class="name">Незнакомка</div>
                <div class="status">
                    <i class="fa fa-circle online"></i>В сети</div>
            </div>
        </li></ul>
    </div>

    <div class="chat">
        <div class="chat-header clearfix">
            <div class="chat-about">
                <div class="chat-with">2804 пользователя находятся в чате.</div>
                <div class="chat-num-messages">196 пользователей находятся в поиске.</div>
            </div>

        </div> <!-- end chat-header -->

        <div class="chat-history">
            <div style="
    display: flex;
    /* justify-content: center; */
    flex-basis: 2;
    /* display: inline-block; */
    padding-top: 20px;
">
                <div style="
    width: 50%;
    /* flex-grow: 1; */
    flex-basis: 1;
    /* float: left; */
    "><span style="
    font-size: 16px;
">Ваш Пол</span>
                    <div><button style="
    background: #86BB71;
    border: 1px solid #86BB71;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
">M</button>
                        <button style="
    background: #e6e6e6;
    border: 1px solid #e6e6e6;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
">J</button></div></div>
                <div style="
    width: 50%;
    /* flex-grow: 1; */
    /* float: left; */
    "><span style="
    font-size: 16px;
">Пол собеседника:</span>
                    <div><button style="
    background: #e6e6e6;
    border: 1px solid #e6e6e6;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
">M</button>
                        <button style="
    background: #86BB71;
    border: 1px solid #86BB71;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
">J</button></div></div>
            </div>
            <div style="
    display: flex;
    padding-top: 20px;
">
                <div style="
    /* width: 50%; */
    flex-grow: 1;
    /* float: left; */
    "><span style="
    font-size: 16px;
">Ваш возраст:</span>
                    <div>
                        <ul><li style="
    padding-top: 5px;
"><button class="btn btnradio btn-default" data-index="1" data-value="0,17" data-name="my_age" style="
    background: #86BB71;
    border: 1px solid #86BB71;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
">до 17 лет</button>
                        </li>
                            <li style="
    padding-top: 5px;
">
                                <button class="btn btnradio btn-default" data-index="1" data-value="0,17" data-name="my_age" style="
    background: #e6e6e6;
    border: 1px solid #e6e6e6;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
">от 18 до 21 лет</button>
                            </li>
                            <li style="
    padding-top: 5px;
">
                                <button class="btn btnradio btn-default" data-index="1" data-value="0,17" data-name="my_age" style="
    background: #e6e6e6;
    border: 1px solid #e6e6e6;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
">от 22 до 25 лет</button>
                            </li>
                            <li style="
    padding-top: 10px;
">
                                <button class="btn btnradio btn-default" data-index="1" data-value="0,17" data-name="my_age" style="
    background: #e6e6e6;
    border: 1px solid #e6e6e6;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
">от 26 до 35 лет</button>
                            </li></ul>






                    </div></div>
                <div style="
    width: 50%;
    /* flex-grow: 1; */
    /* float: left; */
    "><span style="
    font-size: 16px;
">Возраст собеседника:</span>
                    <div><ul><li style="
    padding-top: 5px;
"><button class="btn btnradio btn-default" data-index="1" data-value="0,17" data-name="my_age" style="
    background: #e6e6e6;
    border: 1px solid #e6e6e6;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
">до 17 лет</button>
                    </li>
                        <li style="
    padding-top: 5px;
">
                            <button class="btn btnradio btn-default" data-index="1" data-value="0,17" data-name="my_age" style="
    background: #86BB71;
    border: 1px solid #86BB71;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
">от 18 до 21 лет</button>
                        </li>
                        <li style="
    padding-top: 5px;
">
                            <button class="btn btnradio btn-default" data-index="1" data-value="0,17" data-name="my_age" style="
    background: #86BB71;
    border: 1px solid #86BB71;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
">от 22 до 25 лет</button>
                        </li>
                        <li style="
    padding-top: 5px;
">
                            <button class="btn btnradio btn-default" data-index="1" data-value="0,17" data-name="my_age" style="
    background: #e6e6e6;
    border: 1px solid #e6e6e6;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
">от 26 до 35 лет</button>
                        </li></ul></div></div>
            </div><div style="
    display: flex;
    padding-top: 20px;
">


        </div>
            <div style="
    display: flex;
    /* justify-content: center; */
    flex-basis: 2;
    /* display: inline-block; */
    padding-top: 20px;
    "><button class="btn" style="
    background: #86BB71;
    border: 1px solid #86BB71;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
">Поиск</button></div>
        </div>



    </div> <!-- end chat -->

</div> <!-- end container -->

</body></html>