.editor {
    height: 45px;
    max-height: 45px;
    min-height: 45px;
    display: flex;
    background-color: #fff;
}

.input {
    margin-left: 20px;
    width: 100%;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    outline: none;
    border: none;
}

.icon{
    background: url('./images/send.svg');
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 12px;
}