.editor {
    border-top: 2px solid white;
    padding: 30px;
}

@media only screen and (max-device-width: 768px) {
	.editor {
        padding: 0px !important;
    }
    
    .btns{
        padding:0px !important;
    }
}

.input {
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
    height: 42px;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid #94C2ED;
    outline: none;
    width: inherit !important;
}

.btns {
    padding-top: 10px;
}

.btn {
    color: #94C2ED;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #F2F5F8;
    float: right;
    outline: none;
}

.btn_exit {
    color: #86BB71;
    float: left;
}

.button3 {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 3px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
}

.button3:last-child {
    float: right;
}

.button3:hover {
    background-color: #4095c6;
}

.button3_cancel {
    background-color: #ff3860;
}

.button3_cancel:hover {
    background-color: #d22144;
}