.content {
  padding-left: 10px;
  margin-top: 6px;
}

.title {
  font-weight: bold;
  font-size: 16px;
}

.info {
  color: #92959E;
}

@media only screen and (max-device-width: 768px) {
  .content {
    margin-top: 0px !important;
  }
}