.container{
    margin: 0 auto;
    width: 750px;
    background: #444753;
    border-radius: 5px;
    display: flex;
}

body{
    background: #C5DDEB;
    font: 14px/20px "Lato", Arial, sans-serif;
    padding: 40px 0;
    color: white;
}